body{
    font-family: 'Railway', sans-serif;
}


#local{
    width: 100%;
    background-color: #1e90ff;
    padding: 15px 0;
    margin: 0;
    
    font-family: 'Railway', sans-serif;
    font-size: 1.5rem;
    color:white;
    text-align: center;
}

#cities{
    border-collapse: collapse;
    width: 100%;
}

#cities td{
    border: 1px solid #dedede;
    padding: 8px;
}

#cities tr:nth-child(even){
    background-color: #f2f2f2;
}

.col1{
    width: 10%;
}

.col2{
    width: 45%;
}